<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
	<div class="sidebar-nav-item">
	<a href="mailto:&#114;&#111;&#097;&#115;&#116;&#112;&#111;&#116;&#097;&#116;&#111;&#101;&#115;&#064;&#112;&#114;&#111;&#116;&#111;&#110;&#109;&#097;&#105;&#108;&#046;&#099;&#104;">Contact</a>
  </div>
<div class="sidebar-nav-item">
	<a href="https://www.youtube.com/channel/UCpHD-BRQY5vlAu9Zq7DYz5A">Youtube<i class="svg-icon youtube"></i></a>
  </div>

  <div class="sidebar-nav-item">
	<a href="http://eepurl.com/bsc4wH">Mailing List</a>
  </div>

    <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
  </nav>

  <div class="sidebar-nav-item">
<a href="https://twitter.com/KeyboardSenate" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @KeyboardSenate</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>
  <img class="sidebarlogo" src="{{ site.baseurl }}assets/rplogothien.svg" align="middle">
</div>
