<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}


  <body class="theme-base-0p">

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">

          <h3 class="masthead-title">
		  <a href="/" title="Home"><span itemprop="author" itemscope itemtype="http://schema.org/Person">
				  <span itemprop="name">{{ site.title }}</span></span></a>

            <small>{{ site.tagline }}</small>
          </h3>
        </div>



      </div>
  <script>anchors.add();
anchors.remove('.masthead-title, h1');
 </script>

 <div class="container content">
   <div class="wrap" >
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Page Ad top -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2028120109987382"
     data-ad-slot="4123120214"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>
        {{ content }}
      </div>
    </div>
    <label for="sidebar-checkbox" class="sidebar-toggle"></label>
    <div class="wrap" id="adsense">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- jont -->
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-2028120109987382"
     data-ad-slot="1592814552"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>
    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>
    <div class="social-icons wrap">
    <ul >
	    <li><a href="http://facebook.com/RoastPotatoesCo"><i class="fa fa-facebook"></i></a></li>
	    <li><a href="http://twitter.com/RoastPotatoes_"><i class="fa fa-twitter"></i></a></li>
	    <li><a href="http://instagram.com/roastpotatoes_"><i class="fa fa-instagram"></i> </a></li>
<li><a href="https://www.youtube.com/channel/UCpHD-BRQY5vlAu9Zq7DYz5A"><i class="fa fa-youtube-play"></i> </a></li>
    </ul>

      <img class="footerlogo" width="50px" src="{{ site-url}}/assets/rpsticker2.svg">
    </div>
<script>
var lazyLoadInstance = new LazyLoad({
    elements_selector: ".lazy"
    // ... more custom settings?
});

if (lazyLoadInstance) {
    lazyLoadInstance.update();
}
</script>
  </body>
</html>
