---
layout: default
---

<meta property="og:type:article:author" content="RoastPotatoes"/>
<div class="post" itemscope="" itemType="http://schema.org/BlogPosting">
		<div class="entry-content" itemprop="articleBody">



    <div class="wrap" >
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Page Ad top -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2028120109987382"
     data-ad-slot="4123120214"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>

 <div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>
 <script>anchors.add();
anchors.remove('.masthead-title, h1');
 </script>
    
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site-url }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
		</div>

